<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyc21.mapper.CategoryMapper">
    
    <resultMap id="CategoryMap" type="com.wyc21.entity.Category">
        <id property="categoryId" column="category_id"/>
        <result property="name" column="name"/>
        <result property="parentCategoryId" column="parent_category_id"/>
    </resultMap>
    
    <select id="findAll" resultMap="CategoryMap">
        SELECT * FROM wz_categories
    </select>
    
    <select id="findParentCategories" resultMap="CategoryMap">
        SELECT * FROM wz_categories 
        WHERE parent_category_id IS NULL
    </select>
    
    <select id="findChildCategories" resultMap="CategoryMap">
        SELECT * FROM wz_categories 
        WHERE parent_category_id = #{parentId}
    </select>
</mapper> 