<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 用户模块的MyBatis映射文件
    keyProperty 表示主键的属性
    useGeneratedKeys 表示是否使用自动生成的主键
 -->    
<mapper namespace="com.wyc21.mapper.UserMapper">

    <!-- 配置User实体类中属性与数据库表中字段之间的映射关系-->
    <resultMap id="UserEntityMap" type="com.wyc21.entity.User">
        <id property="uid" column="uid" javaType="java.lang.String"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="power" column="power"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="gender" column="gender"/>
        <result property="avatar" column="avatar"/>
        <result property="isDelete" column="is_delete"/>
        <result property="createdUser" column="created_user"/>
        <result property="createdTime" column="created_time"/>
        <result property="modifiedUser" column="modified_user"/>
        <result property="modifiedTime" column="modified_time"/>
    </resultMap>

    <!-- 插入用户数据 -->
    <insert id="insert" parameterType="com.wyc21.entity.User">
        INSERT INTO wz_users (
            uid, username, password, power, phone, email, gender, avatar,
            created_user, created_time, modified_user, modified_time
        ) VALUES (
            #{uid}, #{username}, #{password}, #{power}, #{phone}, #{email}, #{gender}, #{avatar},
            #{createdUser}, NOW(), #{modifiedUser}, NOW()
        )
    </insert>

    <!-- 根据用户名查询用户数据 -->
    <select id="findByUsername" resultMap="UserEntityMap">
        SELECT 
            uid, username, password, power, phone, email, gender, avatar,
            is_delete, created_user, created_time, modified_user, modified_time
        FROM wz_users 
        WHERE username = #{username}
    </select>

    <!-- 根据用户id查询用户数据 -->
    <select id="findByUid" resultType="com.wyc21.entity.User">
        SELECT * FROM wz_users 
        WHERE uid = #{uid} 
        AND is_delete = 0
    </select>

    <!-- 更新用户信息 -->
    <update id="updateInfo">
        UPDATE wz_users
        <set>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            modified_user = #{modifiedUser},
            modified_time = NOW()
        </set>
        WHERE uid = #{uid}
    </update>

    <!-- 修改密码 -->
    <update id="updatePassword">
        UPDATE wz_users 
        SET 
            password = #{password},
            modified_user = #{modifiedUser},
            modified_time = NOW()
        WHERE uid = #{uid}
    </update>

</mapper>